{% extends "mb/user_manage_base.html" %}

{% block page_title %}Wachtwoord vergeten{% endblock %}
{% block login_title %}Nieuw wachtwoord aanvragen{% endblock %}

{% block login_content %}
<form method="post">
  {% csrf_token %}
  <p>Vul hieronder uw emailadres in. We zullen u instructies sturen om
    een nieuw wachtwoord in te stellen.</p>
    <!-- <p> -->
    <!--   <label for="id_email">Emailadres:</label> -->
    <!--   <input id="id_email" type="email" name="email" maxlength="254" -->
    <!--          required="true"  /> -->
    <!-- </p> -->
    <table>
      {{ form.as_table }}
    </table>
    <input class="button" type="submit" value="Mail instructies" />
</form>

{% endblock %}
