{% extends "mb/user_manage_base.html" %}

{% block page_title %}Wachtwoord vergeten{% endblock %}
{% block login_title %}Wachtwoord vergeten{% endblock %}
{% block login_content %}


<p>
  We hebben u instructies toegestuurd om uw wachtwoord opnieuw in te
  stellen, als er een account bestond met het door u opgegeven
  emailadres. U zou deze binnen korte tijd moeten ontvangen.
</p>

<p>
  Als u geen e-mail ontvangt, controleer dan of u het e-mailadres hebt
  opgegeven waar u zich mee geregistreerd heeft en controleer uw
  spam-map.
</p>

{% endblock %}
